<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Administración</title>
    <link rel="stylesheet" href="/public/css/adminLanding.css">
</head>
<body>
    <div class="sidebar">
        <h1>Admin Dashboard</h1>
        <ul>
            <li><a href="#usuarios">Usuarios</a></li>
            <li><a href="#registro-producto">Registrar Producto</a></li>
            <li><a href="#categorias">Categorías</a></li>
        </ul>
    </div>
    <div class="content">
        <section id="usuarios">
            <h2>Usuarios</h2>
            <a href="/show-users">Ver usuarios registrados</a>
        </section>
        <section id="registro-producto">
            <h2>Registrar Producto</h2>
            <a href="/new-product">Crear un producto nuevo</a>
        </section>
        <section id="categorias">
            <h2>Categorías</h2>
            <p>Por agregar</p>
        </section>
    </div>
</body>
</html>
