
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cakemania</title>
     <link rel="stylesheet" href="/public/css/index.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
     <script type="module" src="/public/js/firebaseLogin.js"></script>
</head>


<header class="header">
        <div class="logo">
            <h1><a href="/">Pastelerias Gourmet</a></h1>
        </div>
        <nav>
            <ul class="navLinks">
                <li><a href="/products">Productos</a></li>
                <li><a href="#aboutUs">Sobre nosotros</a></li>
                <li><a href="#">Sucursales</a></li>
            </ul>
        </nav>
         <div id="user-info">
        <!-- Aquí se mostrará el nombre del usuario o el botón de inicio de sesión -->
        </div>
    </header>
    <div class="container">
        <!-- contenido principal -->
        <div class="imgCover">
        </div>
        <div class="textOver">
            <h1>Horneamos sabores que te acarician el alma</h1>
        </div>
        <div class="cardContainer" id="aboutUs">
            <div class="card">
                <figure>
                    <img src="/public/img/cards/preparar.jpg" alt="Persona preparando un pastel">
                </figure>
                <div class="content">
                    <h3>Reposteria con amor</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="public/img/cards/decorado.jpg" alt="Pastel blanco decorado con frutas">
                </figure>
                <div class="content">
                    <h3>El amor nace de la vista</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="public/img/cards/hornear.jpg" alt="manos espolvoreando azucar">
                </figure>
                <div class="content">
                    <h3>Tu postre esta en las mejores manos</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyText"></div>
    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure>
                    <h1><a href="/">Pastelerias Gourmet</a></h1>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, assumenda!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, unde.</p>
            </div>
            <div class="box">
                <h2>SIGUENOS EN NUESTRAS REDES SOCIALES</h2>
                <div class="socialMedia">
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-tiktok"></a>
                </div>
            </div>
        </div>
        <div class="group-2">
            <small>&copy;2023 <b>PASTELERIAS GOURMET | Todos los derechos reservados</small>
        </div>
    </footer>