<header class="header">
        <div class="logo">
            <h1><a href="./index.html">Pastelerias Gourmet</a></h1>
        </div>
        <nav>
            <ul class="navLinks">
                <li><a href="#">Productos</a></li>
                <li><a href="#aboutUs">Sobre nosotros</a></li>
                <li><a href="#">Mapa</a></li>
            </ul>
        </nav>
        <a href="/login" class="btn"><button>Iniciar sesion</button></a>
    </header>