<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pastelería Gourmet</title>
<link rel="stylesheet" href="/public/css/products.css">
</head>
<body>

<div class="navbar">
    <h3>Cakemania</h3>
  <ul>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Pedidos</a></li>
    <li><a href="#">Mapa</a></li>
    <li><a href="#">Usuario</a></li>
  </ul>
</div>

<div class="cover">
  <img src="/public/img/categorias/1.jpg" alt="Pastel destacado">
  <h1>PASTELES</h1>
</div>

<div class="gallery">
  {{#each products}}
    <div class="gallery-item">
      <!-- Reemplaza la URL estática con la URL dinámica obtenida de cada producto -->
      <img src="{{this.imageUrl}}" alt="{{this.productName}}">
      <h3>{{this.productName}}</h3>
    </div>
  {{/each}}
</div>


</body>
</html>
