<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuestros Productos</title>
    <link rel="stylesheet" href="/public/css/products-landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script type="module" src="/public/js/firebaseLogin.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1><a href="/">Pastelerias Gourmet</a></h1>
        </div>
        <nav>
            <ul class="navLinks">
                <li><a href="/products">Productos</a></li>
                <li><a href="#aboutUs">Sobre nosotros</a></li>
                <li><a href="#">Sucursales</a></li>
            </ul>
        </nav>
        <div id="user-info">
        <!-- Aquí se mostrará el nombre del usuario o el botón de inicio de sesión -->
        </div>
    </header>
     <section class="hero-section">
        <!-- Hero image with cupcakes goes here -->
    </section>
    <section class="product-section">
        <h1>NUESTROS PRODUCTOS</h1>
        <div class="product-gallery">
            <div class="product-item">
                <a href="/products-cake">
                <img src="/public/img/categorias/cake.jpg" alt="Pasteles">
                <h2>Pasteles</h2>
                </a>
            </div>
            <div class="product-item">
                <a href="/products-milkshake">
                <img src="/public/img/categorias/milkshake.jpg" alt="Batidos">
                <h2>Batidos</h2>
                </a>
            </div>
            <div class="product-item">
                <a href="/products-pie">
                <img src="/public/img/categorias/pie.jpg" alt="Pays">
                <h2>Pays</h2>
                </a>
            </div>
            <div class="product-item">
                <a href="/products-cupcake">
                <img src="/public/img/categorias/cupcakes.jpg" alt="Cupcakes">
                <h2>Cupcakes</h2>
                </a>
            </div>
            <div class="product-item">
                <a href="/products-bake">
                <img src="/public/img/categorias/bake.jpg" alt="Panes">
                <h2>Panes</h2>
                </a>
            </div>
            <div class="product-item">
                <a href="/products-jelly">
                <img src="/public/img/categorias/jelly.jpg" alt="Gelatinas">
                <h2>Gelatinas</h2>
                </a>
            </div>
        </div>
    </section>
     <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure>
                    <h1><a href="/">Pastelerias Gourmet</a></h1>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, assumenda!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, unde.</p>
            </div>
            <div class="box">
                <h2>SIGUENOS EN NUESTRAS REDES SOCIALES</h2>
                <div class="socialMedia">
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-tiktok"></a>
                </div>
            </div>
        </div>
        <div class="group-2">
            <small>&copy;2023 <b>PASTELERIAS GOURMET | Todos los derechos reservados</small>
        </div>
    </footer>
</body>
</html>
