/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}


/* Form Title Styles */
.form__Title h4 {
    text-align: center;
    color: #5c67f2;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input Styles */
.form__inputs {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.form__inputs:focus {
    border-color: #5c67f2;
    outline: none;
}

/* Select Category Styles */
.form__selectCategory {
    width: 92%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.form__selectCategory:focus {
    border-color: #5c67f2;
    outline: none;
}

/* Image Input Styles */
.form__InputImage {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    border: 2px dashed #ddd;
}

.form__InputImage:hover {
    border-color: #5c67f2;
}

/* Image Preview Styles */
.form__imgPreview {
    width: 90%;
    display: block;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 8px;
}
/* Estilos para los botones de acción */
.form__actions {
    text-align: center;
    margin-top: 20px;
}

.dashboard-link, .form__button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    margin: 0 10px; /* Añade un margen a ambos lados para separar los botones */
    transition: background-color 0.3s;
}

.dashboard-link {
    background-color: #394263; /* Un color contrastante para el botón de regreso */
    border: none;
}

.form__button {
    background-color: #5c67f2; /* Un color primario para la acción de crear */
    border: none;
    cursor: pointer;
}

.dashboard-link:hover, .form__button:hover {
    background-color: #333; /* Un color para el hover en ambos botones */
}

/* Ajustes de responsividad si son necesarios */
@media (min-width: 768px) {
    .form__actions {
        text-align: center;
    }
}

/* Continúa con los otros estilos existentes y ajustes aquí */







/* Responsive Adjustments */
@media (min-width: 768px) {
    .form__inputs, .form__selectCategory, .form__InputImage {
        width: 50%;
    }
}
