/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Form Title Styles */
.form__Title h4 {
    text-align: center;
    color: #5c67f2;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input Styles */
.form__inputs {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.form__inputs:focus {
    border-color: #5c67f2;
    outline: none;
}

/* Select Category Styles */
.form__selectCategory {
    width: 92%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.form__selectCategory:focus {
    border-color: #5c67f2;
    outline: none;
}

/* Image Input Styles */
.form__InputImage {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    border: 2px dashed #ddd;
}

.form__InputImage:hover {
    border-color: #5c67f2;
}

/* Image Preview Styles */
.form__imgPreview {
    width: 90%;
    display: block;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 8px;
}
.form__button{
    width: 17%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: auto auto;
    cursor: pointer;
}
.form__button:active{
    color: white;
    background-color: #333;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .form__inputs, .form__selectCategory, .form__InputImage {
        width: 50%;
    }
}
