body {
    min-height: 100vh;
    background: url(../img/cover/users-cover.jpg) center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media print {
    .table-container, .user-table {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

.table-container {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.page-header {
    width: 100%;
    padding: .8rem 1rem;
    background-color: #fff4;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-header .dashboard-link {
    position: absolute;
    left: 2rem; 
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out; 
}

.page-header .dashboard-link:hover {
    color: goldenrod;
}

.user-table-container {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.user-table-container::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.user-table-container::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.user-table-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #d5d1defe;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    transition: background-color 0.2s ease-in-out;
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.delete-link, .edit-link {
    color: #000;
    text-decoration: none;
    margin-right: 0.5rem;
    transition: color 0.2s;
}

.delete-link:hover, .edit-link:hover {
    color: #6c00bd;
}