<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/ICON/cakemania.ico">
</head>
<body>
    {{!-- Aqui mediante lenguaje express handlebars (hbs) se especifica que lo que se va a cambiar de este archivo
    es el body con datos de otros archivos hbs --}}
    {{{body}}}
</body>
</html>